.section-calculator {
  background-color: $light-grey;
  color: $black;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  width: 80%;
  height: 80vh;
  position: absolute;
  margin: 10vh;
}
